body {
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 0;
}
div {background-color: white;
}
.post-img {
  margin-top: 5px;
}
.post-header {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
 .post-icons {
    display: flex;
    margin-top: 10px;
 }
 .icon-rigth{ 
    margin-left: 285px; 
  } 
  .move {
    margin-left: 10px;
  }
.post-body {
  width: 400px;
  margin: 2px;
}



